@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
  font-family: var(--font-roboto), sans-serif;
}

/* Lord of the Rings theme styles */
.lotr-header {
  font-family: var(--font-roboto), serif;
  font-weight: 700;
  color: #c9b037; /* Gold color for headers */
}

.lotr-text {
  font-family: var(--font-roboto), sans-serif;
  color: #2c2c2c; /* Dark grey for readability */
}

.lotr-background {
  background-color: #f4e8d1; /* Light parchment color */
}
